#left-content
    #left-content__setting
      %span.nickname
        = current_user.name

      #left-content__setting__icons
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o

    #left-content__group

      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          %p.title
            = group.name
          %p.new-message
            メッセージはまだありません。
